Repository 12-Pair-Programming/Dang-il, pull requests merged in 2024-04, with the labels that each got.

#14 [FEAT] Card 컴포넌트 생성 - #13
  public/images/icon-clock-off.svg
  public/images/icon-clock-on.svg
  public/images/icon-location-off.svg
  public/images/icon-location-on.svg
  public/images/icon-upArrow.svg
  src/shared/card/Card.tsx
Labels: feat

#19 [FEAT] myShopInfo, registMyInfo 페이지 제작
  features/RegistMyShop/UploadImage.tsx
  pages/myShopInfo.tsx
  pages/registMyShop.tsx
  pages/test/tableComponent.tsx
  public/images/add-img.svg
  public/images/close.svg
  shared/@common/ui/Button/Button.tsx
  shared/@common/ui/Button/ButtonComponent.tsx
  shared/@common/ui/Table/TableComponent.tsx
  shared/@common/ui/Table/table.tsx
  shared/@common/ui/pagination/PageButton.tsx
Labels: feat

#28 [REFACTOR] card컴포넌트 기능 파일 분리 및 로직 수정
  shared/@common/ui/Card/Card.tsx
  shared/@common/ui/Card/businessHoursString.ts
  shared/@common/ui/Card/dateToString.ts
Labels: refactor

#37 [FEAT] NoticeList 페이지 / UI 구현
  .github/pull_request_template.md
  features/NoticeList/.keep
  features/NoticeList/CustomNotice.tsx
  features/NoticeList/DetailFilter.tsx
  features/NoticeList/FullNotice.tsx
  pages/noticeList.tsx
  pages/test/filter.tsx
  pages/test/paginationBar.tsx
  public/images/dropdownDown.png
  public/images/dropdownUp.png
  public/images/eye-off.png
  public/images/eye-on.png
  public/images/logo.png
  public/images/purpleClose.png
  public/images/searchIcon.png
  shared/@common/api/hooks/useFetch.ts
  shared/@common/notice/api/fetchNoticeData.ts
  shared/@common/notice/api/useGetNoticeData.ts
  shared/@common/types/common/.keep
  shared/@common/types/helper.ts
  shared/@common/ui/Pagination/Pagination.tsx
  shared/@common/ui/Pagination/PaginationWrapper.tsx
  shared/@common/ui/pagination/ButtonWrapper.tsx
  shared/@common/ui/pagination/FaAngleLeft.tsx
  shared/@common/ui/pagination/FaAngleRight.tsx
  shared/@common/ui/pagination/PageButton.tsx
  shared/@common/ui/pagination/Pagination.tsx
  shared/@common/ui/pagination/PaginationWrapper.tsx
  shared/@common/utils/axiosInstance.ts
  shared/utils/axiosInstance.ts
  src/shared/card/Card.tsx
  tailwind.config.ts
Labels: feat

#41 fix: 인풋 파라미터 및 훅 변경
  shared/@common/ui/Input/Input.tsx
  shared/@common/ui/Input/hook/inputHook.tsx
Labels: fix

#43 [FIX] 인풋 타입 및 파라미터 오류 수정
  shared/@common/types/helper.ts
  shared/@common/ui/Input/Input.tsx
  shared/@common/ui/Input/hook/inputHook.tsx
Labels: fix

#39 [FEAT] NoticeList 페이지 / Card 컴포넌트 API 연동
  features/MyShopInfo/RenderNoticeDiv.tsx
  features/NoticeList/CustomNotice.tsx
  features/NoticeList/DetailFilter.tsx
  features/NoticeList/FullNotice.tsx
  pages/noticeRegist.tsx
  shared/@common/notice/api/fetchNoticeData.ts
  shared/@common/ui/Button/Button.tsx
  shared/@common/ui/Pagination/Pagination.tsx
  shared/@common/ui/pagination/Pagination.tsx
  tailwind.config.ts
Labels: feat

#45 [FEAT] 텍스트에리어 컴포넌트 추가 및 헬퍼 수정
  shared/@common/types/helper.ts
  shared/@common/ui/Input/Input.tsx
  shared/@common/ui/Textarea/Textarea.tsx
  shared/@common/ui/Textarea/hook/textareaHook.tsx
Labels: feat

#46 [FIX] 페이지네이션 중복 폴더 삭제
  shared/@common/ui/pagination/ButtonWrapper.tsx
  shared/@common/ui/pagination/FaAngleLeft.tsx
  shared/@common/ui/pagination/FaAngleRight.tsx
  shared/@common/ui/pagination/PageButton.tsx
  shared/@common/ui/pagination/Pagination.tsx
  shared/@common/ui/pagination/PaginationWrapper.tsx
Labels: fix

#48 [FEAT] 드롭다운 디폴트 기능 추가 및 모달의 z값 수정
  shared/@common/ui/Dropdown/Dropdown.tsx
  shared/@common/ui/Dropdown/hook/dropdownHook.tsx
  shared/@common/ui/Modal/ModalBase.tsx
  shared/@common/ui/Modal/modaBase2.tsx
  tailwind.config.ts
Labels: feat, fix

#50 [FEAT] 로그인 폼 구현
  features/Login/LoginBody.tsx
  features/Login/LoginLayout.tsx
  features/Regist/RegistBody.tsx
  features/Regist/RegistLayout.tsx
  features/Regist/radioButton/RadioButton.tsx
  pages/login.tsx
  pages/regist.tsx
  public/images/logo.png
  shared/@common/auth/hooks/useCheckUserData.tsx
  shared/@common/ui/Input/Input.tsx
Labels: feat

#53 [FEAT] 회원가입 페이지 구현
  features/Regist/RegistBody.tsx
  pages/login.tsx
  pages/regist.tsx
  shared/@common/auth/hooks/useCheckUserData.tsx
Labels: feat, fix

#52 [REFACTOR] card컴포넌트 파일 정리 및 수정, 공고 상세 초안 작업 진행
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
  pages/noticeInfo.tsx
  public/images/icon-clock-on.svg
  public/images/icon-location-on.svg
  shared/@common/ui/Card/Card.tsx
  shared/@common/ui/Card/CardImage.tsx
  shared/@common/ui/Card/NoticePayInfo.tsx
  shared/@common/ui/Card/NoticeTimeAndLocation.tsx
  shared/@common/ui/Card/businessHoursString.ts
Labels: feat, refactor

#56 [FIX] UI, Input, Textarea, Dropdown 변경점과 문제점 수정된 기존 컴포넌트
  features/MyProfileInfo/RenderProfileDiv.tsx
  pages/editMyProfile.tsx
  pages/editMyShop.tsx
  pages/myProfileInfo.tsx
  pages/myShopInfo.tsx
  pages/noticeRegist.tsx
  pages/registMyProfile.tsx
  pages/registMyShop.tsx
  shared/@common/ui/Dropdown/Dropdown.tsx
  shared/@common/ui/Textarea/Textarea.tsx
Labels: fix

#58 [FEAT] 네비게이터 바 추가 및 알림 모달 구현
  features/Login/LoginBody.tsx
  features/NoticeList/navModal/FilterModal.tsx
  features/NoticeList/navModal/hook/filterModalHook.tsx
  public/images/accepted.png
  public/images/navLogo.png
  public/images/rejected.png
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navButton/navButton.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
  shared/@common/ui/Nav/navModal/hook/navModalHook.tsx
  shared/@common/ui/Nav/navModal/navModalMessage/NavModalMessage.tsx
Labels: feat

#59 [FEAT] NoticeList 페이지 / 상세 필터 기능 구현
  features/NoticeList/AllNotice.tsx
  features/NoticeList/DetailFilter.tsx
  features/NoticeList/FilterCalendar.tsx
  shared/@common/ui/Button/Button.tsx
  shared/@common/ui/Input/Input.tsx
  shared/@common/ui/Input/hook/inputHook.tsx
  shared/@common/ui/Pagination/ButtonWrapper.tsx
  shared/@common/ui/Pagination/FaAngleLeft.tsx
  shared/@common/ui/Pagination/FaAngleRight.tsx
  shared/@common/ui/Pagination/PageButton.tsx
  shared/@common/ui/Pagination/PaginationWrapper.tsx
Labels: feat, fix

#62 [REFACTOR] 모달 버튼 파라미터 수정
  shared/@common/ui/Modal/modalType/confirmModal.tsx
  shared/@common/ui/Modal/modalType/noticeModal.tsx
  shared/@common/ui/Modal/modalType/warningModal.tsx
Labels: refactor

#63 [FIX] API 적용을 위한 Form 수정
  features/MyShopInfo/RenderShopDiv.tsx
  features/NoticeRegist/Calendar.tsx
  pages/editMyProfile.tsx
  pages/editMyShop.tsx
  pages/myShopInfo.tsx
  pages/noticeRegist.tsx
  pages/registMyProfile.tsx
  pages/registMyShop.tsx
  shared/@common/ui/Button/Button.tsx
  shared/@common/ui/Input/Input.tsx
Labels: refactor, fix

#64 [FIX] 사용자, 사장님 여부에 따른 공고 상세 페이지 UI작업
  features/NoticeInfo/EmployeeList.tsx
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
  next.config.mjs
  pages/noticeInfo.tsx
  shared/@common/notice/ui/Card.tsx
  shared/@common/notice/ui/CardImage.tsx
  shared/@common/notice/ui/NoticePayInfo.tsx
  shared/@common/notice/ui/NoticeTimeAndLocation.tsx
  shared/@common/notice/utils/businessHoursString.ts
  shared/@common/notice/utils/dateToString.ts
Labels: fix

#66 [FEAT] NoticeList 페이지 / 필터 모달 기능 구현 완료
  features/MyProfileInfo/RenderProfileDiv.tsx
  features/MyProfileInfo/RenderUserNoticeDiv.tsx
  features/MyShopInfo/RenderNoticeDiv.tsx
  features/NoticeList/AllNotice.tsx
  features/NoticeList/CustomNotice.tsx
  features/NoticeList/DetailFilter.tsx
  features/NoticeList/FilterCalendar.tsx
  features/NoticeList/FilterModal.tsx
  features/NoticeList/navModal/hook/filterModalHook.tsx
  features/NoticeRegist/Calendar.tsx
  features/Regist/RegistBody.tsx
  features/RegistMyShop/UploadImage.tsx
  package-lock.json
  package.json
  pages/editMyProfile.tsx
  pages/editMyShop.tsx
  pages/noticeInfo.tsx
  pages/noticeRegist.tsx
  pages/registMyProfile.tsx
  pages/registMyShop.tsx
  pages/test/filter.tsx
  pages/test/paginationBar.tsx
  pages/test/tableComponent.tsx
  shared/@common/ui/Button/Button.tsx
  shared/@common/ui/Button/ButtonComponent.tsx
  shared/@common/ui/Dropdown/Dropdown.tsx
  shared/@common/ui/Table/Table.tsx
  shared/@common/ui/Table/TableBody.tsx
  shared/@common/ui/Table/TableButton.tsx
  shared/@common/ui/Table/TableComponent.tsx
  shared/@common/ui/Table/TableHead.tsx
  shared/@common/ui/Table/table.tsx
  shared/@common/ui/Table/test/tableTest.ts
  tailwind.config.ts
Labels: feat

#71 [FEAT] API fetch 함수 구현
  features/NoticeList/AllNotice.tsx
  features/NoticeList/CustomNotice.tsx
  features/NoticeList/DetailFilter.tsx
  next.config.mjs
  pages/editMyShop.tsx
  pages/myShopInfo.tsx
  pages/noticeList.tsx
  pages/registMyShop.tsx
  shared/@common/api/alertAPI.ts
  shared/@common/api/applicationAPI.ts
  shared/@common/api/authenticationAPI.ts
  shared/@common/api/noticeAPI.ts
  shared/@common/api/shopAPI.ts
  shared/@common/api/userAPI.ts
  shared/@common/ui/Footer/.keep
  shared/@common/ui/Footer/Footer.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
Labels: feat

#67 65 feat 사용자의 공고상세내의 가게정보 버튼 동작 구현
  features/NoticeInfo/ShopInfo.tsx
  pages/noticeInfo.tsx
  shared/@common/notice/ui/Card.tsx
  shared/@common/notice/ui/CardImage.tsx
  shared/@common/notice/ui/NoticePayInfo.tsx
Labels: refactor, fix

#74 [FEAT] API관련 기능 수정 및 추가/ jwt-decode 라이브러리 추가
  features/Login/LoginBody.tsx
  features/Regist/RegistBody.tsx
  features/Regist/radioButton/RadioButton.tsx
  package-lock.json
  package.json
  shared/@common/api/Api.ts
  shared/@common/auth/hooks/useCheckUserData.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
  shared/@common/ui/Nav/navModal/hook/navModalHook.tsx
Labels: feat, fix

#75 [Chore] 파일명 변경
  features/MyProfileInfo/FindNotice.tsx
  features/MyProfileInfo/FindProfile.tsx
  features/MyProfileInfo/RenderProfileDiv.tsx
  features/MyShopInfo/FindNotice.tsx
  features/MyShopInfo/FindShop.tsx
  pages/myProfileInfo.tsx
  pages/myShopInfo.tsx
  shared/@common/api/DataMethodApi.ts
  shared/@common/api/GetApi.ts
Labels: feat

#76 [REFACTOR] API 데이터 fetch 함수 수정
  shared/@common/api/alertAPI.ts
  shared/@common/api/applicationAPI.ts
  shared/@common/api/authenticationAPI.ts
  shared/@common/api/hooks/useFetch.ts
  shared/@common/api/noticeAPI.ts
  shared/@common/api/shopAPI.ts
  shared/@common/api/userAPI.ts
Labels: refactor

#78 [REFEATOR] 타입 관련 인터페이스 추가 및 수정/ 임시 API 삭제
  shared/@common/api/Api.ts
  shared/@common/api/alertAPI.ts
  shared/@common/api/userAPI.ts
  shared/@common/auth/hooks/useCheckUserData.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
Labels: refactor, fix

#81 [REFACTOR] 반응형 커스텀 수정
  tailwind.config.ts
Labels: refactor

#83 [FEAT] NoticeList 페이지 sort 기능 구현
  features/NoticeList/AllNotice.tsx
  features/NoticeList/FilterModal.tsx
  shared/@common/ui/Dropdown/Dropdown.tsx
  shared/utils/axiosInstance.ts
Labels: feat

#86 [STYLE] 네비게이터와 풋터, 모달에 반응형 디자인 추가
  features/NoticeList/DetailFilter.tsx
  features/NoticeList/FilterModal.tsx
  shared/@common/ui/Footer/Footer.tsx
  shared/@common/ui/Modal/modalType/noticeModal.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navButton/navButton.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
  tailwind.config.ts
Labels: feat, style, fix

#88 [FEAT] 공고 상세 api 연결
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
Labels: feat, refactor, fix

#90 [FEAT] nav바 검색 기능 구현
  features/NoticeInfo/.keep
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
  features/NoticeList/AllNotice.tsx
  features/NoticeList/CustomNotice.tsx
  shared/@common/notice/ui/Card.tsx
  shared/@common/notice/ui/CardImage.tsx
  shared/@common/notice/ui/NoticePayInfo.tsx
  shared/@common/notice/ui/NoticeTimeAndLocation.tsx
  shared/@common/ui/Dropdown/Dropdown.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
Labels: feat, style

#95 [FEAT] 회원가입과 로그인에 모달 시스템 추가/ 모달관련 기능 수정
  features/Login/LoginBody.tsx
  features/Regist/RegistBody.tsx
  shared/@common/auth/hooks/useCheckUserData.tsx
  shared/@common/ui/Footer/Footer.tsx
  shared/@common/ui/Modal/ModalBase.tsx
  shared/@common/ui/Modal/hook/modalHook.tsx
  shared/@common/ui/Modal/modalType/confirmModal.tsx
  shared/@common/ui/Modal/modalType/modalContent.tsx
Labels: feat, fix

#97 [FEAT] 맞춤 공고 기능 추가
  features/NoticeList/CustomNotice.tsx
Labels: feat

#99 [FEAT] 로그인과 회원가입에 엔터기능 추가 / 잘못된 경로 수정
  features/Login/LoginBody.tsx
  features/Regist/RegistBody.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
Labels: feat, fix

#100 [FEAT] 공고 상세 페이지 링크에서 가게 id와 공고 id를 추출
  features/NoticeInfo/ShopInfo.tsx
  pages/noticeInfo/[id].tsx
Labels: feat

#102 [FIX] 이미지 업로드 API 수정
  features/RegistMyShop/UploadImage.tsx
  pages/editMyShop.tsx
  pages/registMyShop.tsx
  shared/@common/api/imageAPI.ts
  shared/@common/api/shopAPI.ts
Labels: fix

#103 [FEAT] 공고 상세 모달창 연결
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
  pages/noticeInfo.tsx
  shared/@common/notice/ui/CardImage.tsx
Labels: feat

#107 [Style] noticeList 페이지 반응형 수정
  features/NoticeList/AllNotice.tsx
  features/NoticeList/CustomNotice.tsx
Labels: style

#113 [BUG] 공고 상세보기내 최근 공고 불러오는 이슈
  features/NoticeInfo/RecentNotices.tsx
  features/NoticeInfo/ShopInfo.tsx
  pages/noticeInfo.tsx
  shared/@common/api/applicationAPI.ts
  shared/@common/api/noticeAPI.ts
Labels: bug, refactor, fix

#115 [FEAT] 무한 스크롤 추가 및 메세지 API 수정/ 반응형 UI 수정
  shared/@common/api/alertAPI.ts
  shared/@common/ui/Footer/Footer.tsx
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
  shared/@common/ui/Nav/navModal/navModalMessage/NavModalMessage.tsx
Labels: feat, fix

#119 [FEAT] 네비게이터 UI및 기능 수정
  public/images/bell-off.svg
  public/images/bell-on.svg
  shared/@common/ui/Nav/NavigationBar.tsx
  shared/@common/ui/Nav/navModal/NavModal.tsx
  shared/@common/ui/Nav/navModal/navModalMessage/NavModalMessage.tsx
Labels: feat, fix

#118 [FIX] 배포 위한 타입 수정
  features/EditMyShop/EditingMyShop.tsx
  features/Login/LoginBody.tsx
  features/MyShopInfo/FindNotice.tsx
  features/NoticeList/CustomNotice.tsx
  pages/noticeRegist.tsx
  pages/registMyProfile.tsx
  shared/@common/ui/Button/ButtonComponent.tsx
Labels: fix
